html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  width: 100% !important;
  background-color: #000;
  -webkit-text-size-adjust: none;
}

table {
  margin-left: 0;
  margin-right: 0;
}

.cell, .topcell, .logocell, .navcell, .blankcell, .list, .boxcell, .twocolscell {
  color: #3c3c3c;
  font-size: 14px;
  font-family: Arial,sans-serif;
}

.toptable {
  width: 580px;
  margin: 0 auto;
}

.topcell {
  text-align: right;
}

.logotable, .navtable {
  margin-left: auto;
  margin-right: auto;
}

.logocell {
  color: #fff;
  font-size: 13px;
  background-color: #292929;
  font-weight: bold;
}

.hide-desktop {
  max-height: 0px;
  font-size: 0;
  display: none;
  overflow: hidden;
}

.eye {
  vertical-align: middle;
}

.username {
  margin:0;
  color:#b7b7b7;
  font-size: 12px;
  border-right: 1px solid #000;
}

.username span {
  padding-right: 20px;
  line-height: 20px;
  display: block;
}

.username span strong {
  color: #fff;
}

.maintable {
  width: 600px;
  margin: 30px auto 0;
  padding: 0;
}

.blanktable {
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.blankcell {
  padding: 40px 29px;
  background-color: #ffffff;
}

.blankcell > *:last-child {
  margin-bottom: 0;
}

.blanktable tr:first-child .blankcell {
  padding-top: 17px;
  border-radius: 7px 7px 0 0;
  background-image: url(../gfx/mueca.png);
  background-repeat: no-repeat;
  background-position: left top;
}

.blanktable tr:last-child .blankcell {
  padding-bottom: 17px;
}

.blanktable tr:last-child .blankcell {
  border-radius: 0 0 7px 7px;
}

.blankcell p {
  margin: 0 0 15px 0;
  padding-top: 0;
  line-height: 19px;
}

.boxtable {
  margin: 30px 0;
}

.blankcell .boxtable:last-child, .blankcell .twocolstable:last-child {
  margin-bottom: 15px;
}

.boxcell {
  border: 1px solid #ededed;
  border-radius: 20px;
  min-height: 40px;
  margin: 30px 0;
  padding: 15px;
  background-color: #f4f4f4;
}

.blanktable > tr:last-child .blankcell p:last-child {
  margin-bottom: 0;
}

.twocolstable {
  margin: 30px 0;
}

.twocolscell {
  width: 260px;
}

.twocolscell:first-child {
  width: 245px;
  padding-right: 15px;
  border-bottom-color: #bbb;
}

.twocolscell p:last-child {
  margin-bottom: 0;
}

.twocolscell .boxtable {
  margin: 0;
}

.boxcell .twocolstable {
  margin: 0;
}

.boxcell .twocolscell, .twocolstable.border .twocolscell {
  padding-left: 15px;
  width: 245px;
}

.boxcell .twocolscell:first-child, .twocolstable.border .twocolscell:first-child {
  border-right: 1px solid #bbb;
  padding-left: 0;
  padding-right: 14px;
}

h1 {
  font-size: 52px;
  margin: 0 0 15px 0;
}

h2 {
  font-size: 34px;
  margin: 0 0 15px 0;
}

h3 {
  font-size: 26px;
  margin: 0 0 15px 0;
}

h4 {
  font-size: 22px;
  margin: 0 0 15px 0;
}

h5 {
  font-size: 17px;
  margin: 0 0 15px 0;
}

h6 {
  font-size: 15px;
  margin: 0 0 15px 0;
}

p {
  font-size: 14px;
}

a, a:visited {
  text-decoration: none;
  font-weight: bold;
  color: #2c97fc;
}

.blankcell a:hover {
  text-decoration: underline;
}

hr {
  border: none;
  border-bottom: 1px solid #bbb;
  margin: 15px 0;
}

.blankcell p.followus {
  font-weight: bold;
  text-align: right;
  line-height: 30px !important;
  padding: 15px 0;
  margin: 30px 0;
  border-top: 1px solid #bcbcbc;
  border-bottom: 1px solid #bcbcbc;
}

.followus img {
  margin-top: -4px;
  margin-left: 10px;
  vertical-align: middle;
}

.linkstable {
  line-height: 20px;
  margin: 30px 0 0;
}

.linkscell {
  width: 174px;
}

.linkscell:last-child h4 {
  margin-right: 0;
}

.linkstable a,  .linkstable a:visited {
  color: #3c3c3c;
  text-decoration: none;
  font-weight: normal;
}

.linkstable h4 {
  font-weight: bold;
  font-size: 14px;
  margin:0 20px 10px 0;
  padding: 0;
  height:20px;
  border-bottom: 1px solid #ccc;
}

.linkstable p {
  padding: 0;
  margin: 0;
}

.terms {
  font-family: Arial, sans-serif;
  font-size: 11px;
  line-height: 14px;
  color: #fff;
  padding: 15px 30px 0 30px;
}

.terms p {
  font-size: 11px;
  margin-bottom: 10px;
}

a img {
  border: none;
}

ul, ol {
  padding-left: 0;
  margin: 0;
}

li {
  margin: 0 0 10px 25px;
  line-height: 19px;
  padding: 0;
}

ul li {
  list-style-image: url(gfx/bullet.png);
}

ul.nomargin li {
  margin-bottom: 0;
}

ul li:last-child {
  margin-bottom: 15px;
}

.list {
  margin-bottom: 20px;
}

.list td, .list th {
  text-align: right;
  padding: 5px 7px;
}

.list th {
  font-weight: bold;
  margin: 0;
}

.list td {
  border-top: 1px solid #e8e8e8;
  margin: 0;
}

.list td:nth-child(odd), .list td:nth-child(even) {
  border-top: none;
}

.list tr td:first-child, .list tr th:first-child {
  text-align: left;
  padding-left: 15px;
}

.list tr td:last-child, .list tr th:last-child {
  padding-right: 15px;
}

.list tr:nth-child(odd) td, .list tr.total td {
  background-color: #f4f4f4;
  border: 1px solid #e8e8e8;
  border-right-width: 0;
  border-left-width: 0;
}

.list.yellow tr:nth-child(odd) td, .list tr.total td {
  background-color: #ffee95;
  border-color: #ffe45a;
}

.list tr:nth-child(odd) td:first-child, .list tr.total td:first-child {
  border-left-width: 1px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.list tr:nth-child(odd) td:last-child, .list tr.total td:last-child {
  border-right-width: 1px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.list tr.total td {
  background-color: #3c3c3c;
  font-weight: bold;
  color: #fff;
  border-color: #3c3c3c;
}

.list.yellow tr.total td {
  background-color: #ffb620;
  border-color: #ffae20;
  color: #3c3c3c;
}


/** YELLOW TABLES **/

.blankcell.yellow {
  background: #ffdd32 !important;
}

.blankcell.yellow hr {
  border-bottom-color: #bfae55;
}

.blankcell.yellow .twocolscell:first-child {
  border-color: #bfae55;
}

.blankcell.yellow .boxcell {
  background-color: #ffe45e;
  background-color: #ffef77;
  border: 0;
  box-shadow: 1px 1px 2px #f3c329;
}

.blankcell.yellow .list tr:nth-child(odd) td, .blankcell.yellow .list tr.total td {
  background-color: #ffee95;
  border: 1px solid #ffe45a;
  border-right-width: 0;
  border-left-width: 0;
}

.blankcell.yellow .list tr.total td {
  background-color: #ffb620;
  border-color: #ffae20;
  color: #3c3c3c;
}


/** GREEN TABLES **/

.blankcell.green {
  background: #63dd77 !important;
}

.blankcell.green hr {
  border-bottom-color: #57b15a;
}

.blankcell.green .twocolscell:first-child {
  border-color: #57b15a;
}

.blankcell.green .boxcell {
  background-color: #87f18a;
  border: 0;
  box-shadow: 1px 1px 2px #53cd67;
}

.blankcell.green .list tr:nth-child(odd) td, .blankcell.green .list tr.total td {
  background-color: #87f18a;
  border: 1px solid #87f18a;
  border-right-width: 0;
  border-left-width: 0;
}

.blankcell.green .list tr.total td {
  background-color: #57b15a;
  border-color: #57c15a;
  color: #3c3c3c;
}


/** BLUE TABLES **/

.blankcell.blue {
  background: #b8d6e9 !important;
}

.blankcell.blue hr {
  border-bottom-color: #578cad;
}

.blankcell.blue .twocolscell:first-child {
  border-color: #578cad;
}

.blankcell.blue .boxcell {
  background-color: #98b6c9;
  border: 0;
  box-shadow: 1px 1px 2px #7896a9;
}

.blankcell.blue .boxcell hr {
  border-bottom-color: #7896a9;
}

.blankcell.blue .boxcell .twocolscell:first-child {
  border-color: #7896a9;
}

.blankcell.blue .list tr:nth-child(odd) td, .blankcell.blue .list tr.total td {
  background-color: #98b6c9;
  border: 1px solid #98b6c9;
  border-right-width: 0;
  border-left-width: 0;
}

.blankcell.blue .list tr.total td {
  background-color: #587689;
  border-color: #587689;
  color: #efefef;
}

/** TURQUOISE TABLES **/

.blankcell.turquoise {
  background: #81d8da !important;
}

.blankcell.turquoise .twocolscell:first-child {
  border-color: #639a9f;
}

.blankcell.turquoise hr {
  border-bottom-color: #639a9f;
}

.turquoise.blankcell, .turquoise .list, .turquoise .boxcell, .turquoise .twocolscell {
  color: #333;
}

.blankcell.turquoise .boxcell {
  background-color: #9fd8d9;
  background-color: #5fc8c9;
  border: 0;
  box-shadow: 1px 1px 2px #639a9f;
}

.blankcell.turquoise .list tr:nth-child(odd) td, .blankcell.turquoise .list tr.total td {
  background-color: #5fc8c9;
  border: 1px solid #5fc8c9;
  border-right-width: 0;
  border-left-width: 0;
}

.blankcell.turquoise .list tr.total td {
  background-color: #00777f;
  border-color: #00777f;
  color: #efefef;
}
